# =========================
# C / C++
# =========================

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# =========================
# Python
# =========================

# Entorno virtual
/.venv/

# Cache de Python
__pycache__/
*.pyc
*.pyo


# =========================
# YOLO / IA
# =========================

# Resultados automáticos de entrenamiento/detección
runs/

# Modelos y pesos
*.pt
*.onnx
*.engine

# Imagen de prueba descargada por YOLO
bus.jpg


# =========================
# VS Code / Windows
# =========================

.vscode/
Thumbs.db
Desktop.ini